tensorflow==2.9.3
tensorflow-probability==0.17.0
numpy==1.21
pandas==1.3
scipy==1.7
scikit-learn==1.0
matplotlib==3.5
tqdm
imageio==2.9
click
fs
tf-slim
git+https://github.com/thu-ml/zhusuan.git
git+https://github.com/haowen-xu/tfsnippet.git@v0.2.0-alpha1